name: Backend Pipeline

on:
  workflow_dispatch:
  push:
    branches:
    - main
    paths: 
    - 'apps/backend/**'

env:
  BACKEND_REPOSITORY: workshop-na-nuvem/production/backend
  IMAGE_TAG: ${{ github.sha }}

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  backend-job:
    name: Backend Job
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v5.1.1
      with:
        aws-region: us-east-1
        role-to-assume: arn:aws:iam::381491977261:role/workshop-na-nuvem-github-role
    
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2
      
    - name: Build, tag, and push docker image to Amazon ECR
      env:
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      run: |
        docker build -f ./apps/backend/YoutubeLiveApp/Dockerfile -t $REGISTRY/$BACKEND_REPOSITORY:$IMAGE_TAG ./apps/backend/YoutubeLiveApp/
        docker push $REGISTRY/$BACKEND_REPOSITORY:$IMAGE_TAG
    
    - name: Checkout gitops repository 
      uses: actions/checkout@v6
      with:
        repository: josearodrigues/workshopdvn-gitops
        token: ${{ secrets.PAT }}
    
    - name: Kustomize edit set image
      env:
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      run: |
        kustomize edit set image $REGISTRY/$BACKEND_REPOSITORY=$REGISTRY/$BACKEND_REPOSITORY:$IMAGE_TAG
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git add ./kustomization.yml
        git commit -m "[BOT] Update backend image to $REGISTRY/$BACKEND_REPOSITORY:$IMAGE_TAG
        git push
